  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

   td,
    th {
        color: #000;
        text-align: center;
    }
    a {
        color: #000;
        text-decoration: none;
    }td,
    th {
        color: #000;
        text-align: center;
    }
    a {
        color: #000;
        text-decoration: none;
    }

    h4 {
    color: #000;
    margin-bottom: 1em;
}

form {
    margin: 1em;
}

.form-register{
        width: 100%;
        padding: 15px;
        margin: auto;
    }

    .register-content-left {
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, 0.45);
      background-image: url("https://i.ibb.co/X292hJF/form-register-bg-2.jpg");
      background-position: center center;
      background-size: cover;
      height: 100vh;
      padding: 30px;
    }

    .register-content-left h1 {
      color: #ffffff;
      font-size: 38px;
      font-weight: 600;
      padding: 12px 20px;
      text-align: center;
    }

    .form-register {
      color: #888888;
      padding: 30px;
    }

    .form-register .register-form-radio {
      display: inline-block;
      margin-left: 5px;
      position: relative;
    }

    .form-register .register-form-radio input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      background-color: #dddddd;
      height: 25px;
      width: 25px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
    }

    .form-register .register-form-radio input[type="radio"]:focus {
      outline: 0;
    }

    .form-register .register-form-radio input[type="radio"]:checked {
      background-color: #fb1647;
    }

    .form-register .register-form-radio input[type="radio"]:checked::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: #ffffff;
      border-radius: 50%;
      left: 1px;
      right: 0;
      margin: 0 auto;
      top: 8px;
    }

    .form-register .register-form-radio input[type="radio"]:checked::after {
      content: "";
      display: inline-block;
      webkit-animation: click-radio-wave 0.65s;
      -moz-animation: click-radio-wave 0.65s;
      animation: click-radio-wave 0.65s;
      background: #000000;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
      border-radius: 50%;
    }

    .form-register .register-form-radio input[type="radio"]~label {
      padding-left: 10px;
      cursor: pointer;
    }

    .form-register .form-register-header {
      text-align: center;
    }

    .form-register .form-register-next-btn,
    .form-register .form-register-previous-btn,
    .form-register .form-register-submit {
      background-color: #d65470;
      color: #ffffff;
      display: inline-block;
      min-width: 100px;
      min-width: 120px;
      padding: 10px;
      text-align: center;
    }

    .form-register .form-register-next-btn:hover,
    .form-register .form-register-next-btn:focus,
    .form-register .form-register-previous-btn:hover,
    .form-register .form-register-previous-btn:focus,
    .form-register .form-register-submit:hover,
    .form-register .form-register-submit:focus {
      color: #ffffff;
      opacity: 0.6;
      text-decoration: none;
    }

    .form-register .register-fieldset {
      display: none;
    }

    .form-register .register-fieldset.show {
      display: block;
    }

    .form-register .register-form-error {
      display: none;
      background-color: #d70b0b;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
    }

    .form-register .form-register-previous-btn {
      background-color: #fb1647;
    }

    .form-register .form-control {
      font-weight: 300;
      height: auto !important;
      padding: 15px;
      color: #888888;
      background-color: #f1f1f1;
      border: none;
    }

    .form-register .form-control:focus {
      box-shadow: none;
    }

    .form-register .form-group {
      position: relative;
      margin: 25px 0;
    }

    .form-register .register-form-text-label {
      position: absolute;
      left: 30px;
      top: 16px;
      transition: 0.2s linear all;
    }

    .form-register .focus-input .register-form-text-label {
      color: #d65470;
      top: -18px;
      transition: 0.2s linear all;
      font-size: 12px;
    }

    .form-register .form-register-steps {
      margin: 30px 0;
    }

    .form-register .form-register-steps li {
      width: 25%;
      float: left;
      position: relative;
    }

    .form-register .form-register-steps li::after {
      background-color: #f3f3f3;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      border-bottom: 1px solid #dddddd;
      border-top: 1px solid #dddddd;
    }

    .form-register .form-register-steps li span {
      background-color: #dddddd;
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      position: relative;
      text-align: center;
      width: 40px;
      z-index: 1;
    }

    .form-register .form-register-steps li:last-child::after {
      width: 50%;
    }

    .form-register .form-register-steps li.active span,
    .form-register .form-register-steps li.activated span {
      background-color: #d65470;
      color: #ffffff;
    }

    .form-register .form-register-steps li.active::after,
    .form-register .form-register-steps li.activated::after {
      background-color: #d65470;
      left: 50%;
      width: 50%;
      border-color: #d65470;
    }

    .form-register .form-register-steps li.activated::after {
      width: 100%;
      border-color: #d65470;
    }

    .form-register .form-register-steps li:last-child::after {
      left: 0;
    }

    .form-register .register-password-eye {
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    @keyframes click-radio-wave {
      0% {
        width: 25px;
        height: 25px;
        opacity: 0.35;
        position: relative;
      }

      100% {
        width: 60px;
        height: 60px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0.0;
      }
    }

        @media screen and (max-width: 767px) {
      .register-content-left {
        height: auto;
      }
    }
