{% extends 'base.html' %}
{% block content %}

<div>
    <div class="container">
        <h4>Account Details:</h4>
        <form  method="post">
            {% csrf_token %}
            From: <input type="date" name="fromdate" id="">
            To: <input type="date" name="todate" id="">
            <input type="submit" value="Search">
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for dep in page.object_list %}
                <tr>
                    <td scope="row"> {{dep.id}}</th>
                    <td>{{dep.amount}}</td>
                    <td>{{dep.date}}</td>
                </tr>
                {% endfor %}
                <tr>
                    {% if page.has_previous %}
                    <td>
                        <a href="{% url 'transaction' %}?page={{ page.previous_page_number }}">Previous Page</a>
                    </td>
                    {% endif %}
                    <td></td>
                    {% if page.has_next %}
                    <td>
                        <a href="{% url 'transaction' %}?page={{ page.next_page_number }}">Next Page</a>
                    </td>
                    {% endif %}
                </tr>
    
            </tbody>
        </table>
    
        
        
    </div>
</div>

{% endblock content %}